.elevator {
  text-align: center;
  margin-top: 25px;
}
.headbump {
	margin-top: 75px;
}

.smallbump {
	margin-top: 5px;
	margin-left:20px;
}

.pnote {
	font-size: small;
}

.gist {
	max-width: 100% !important;
}
.gist-file
.gist-data {
	max-height: 500px;
	max-width: 100% ;
}